<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course">
    <insert id="create" parameterType="course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_sc.course (
    title, 
    credit
        )
        VALUES (
    #{title}, 
    #{credit}
        );
    </insert>
    <delete id="remove">
        DELETE FROM db_sc.course
        WHERE course.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_sc.course
        SET
    title = #{title}, 
    credit = #{credit}
        WHERE course.id = #{id}
    </update>
    <select id="queryAll" resultType="course">
        SELECT *
        FROM db_sc.course
        ORDER BY id
    </select>
    <select id="queryById" resultType="course">
        SELECT *
        FROM db_sc.course
        WHERE course.id = #{id}
    </select>

    <resultMap id="queryStudentsByCourseId_map" type="course">
        <result property="title" column="title"/>
        <collection property="students" ofType="student">
            <result property="name" column="name"/>
        </collection>
    </resultMap>
    <select id="queryStudentsByCourseId" parameterType="int" resultMap="queryStudentsByCourseId_map">
        SELECT
         c.title,
         s.name
        FROM db_sc.course c
        LEFT OUTER JOIN db_sc.student_course sc
        ON c.id = sc.courseId
        LEFT OUTER JOIN db_sc.student s
        ON s.id = sc.studentId
        WHERE c.id = ${id};
    </select>
</mapper>