<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <insert id="create" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_sc.student (
    name, 
    gender
        )
        VALUES (
    #{name}, 
    #{gender}
        );
    </insert>
    <delete id="remove">
        DELETE FROM db_sc.student
        WHERE student.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_sc.student
        SET
    name = #{name}, 
    gender = #{gender}
        WHERE student.id = #{id}
    </update>
    <select id="queryAll" resultType="student">
        SELECT *
        FROM db_sc.student
        ORDER BY id
    </select>
    <select id="queryById" resultType="student">
        SELECT *
        FROM db_sc.student
        WHERE student.id = #{id}
    </select>

    <resultMap id="queryCoursesByStudentId_map" type="student">
        <result property="name" column="name"/>
        <collection property="courses" ofType="course">
            <result property="title" column="title"/>
        </collection>
    </resultMap>
    <select id="queryCoursesByStudentId" parameterType="int" resultMap="queryCoursesByStudentId_map">
        SELECT
         s.name,
         c.title
        FROM db_sc.student s
        LEFT OUTER JOIN db_sc.student_course sc
        ON s.id = sc.studentId
        LEFT OUTER JOIN db_sc.course c
        ON c.id = sc.courseId
        WHERE s.id = ${id};
    </select>
</mapper>