<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <insert id="create" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_ssm.student (
    name, 
    gender
        )
        VALUES (
    #{name}, 
    #{gender}
        );
    </insert>
    <delete id="remove">
        DELETE FROM db_ssm.student
        WHERE student.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_ssm.student
        SET
    name = #{name}, 
    gender = #{gender}
        WHERE student.id = #{id}
    </update>
    <select id="queryAll" resultType="student">
        SELECT *
        FROM db_ssm.student
        ORDER BY id
    </select>
    <select id="queryById" resultType="student">
        SELECT *
        FROM db_ssm.student
        WHERE student.id = #{id}
    </select>
</mapper>