<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentCourse">
    <insert id="create" parameterType="studentcourse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_ssm.student_course (
    studentId, 
    courseId
        )
        VALUES (
    #{studentId}, 
    #{courseId}
        );
    </insert>
    <delete id="remove">
        DELETE FROM db_ssm.student_course
        WHERE student_course.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_ssm.student_course
        SET
    studentId = #{studentId}, 
    courseId = #{courseId}
        WHERE student_course.id = #{id}
    </update>
    <select id="queryAll" resultType="studentcourse">
        SELECT *
        FROM db_ssm.student_course
        ORDER BY id
    </select>
    <select id="queryById" resultType="studentcourse">
        SELECT *
        FROM db_ssm.student_course
        WHERE student_course.id = #{id}
    </select>
</mapper>